<h1>Register a new account</h1>
<p>
Please complete the form below to register to the URCB network.
</p>
<br>
<%= form_for(:User, :url => {:action => 'new'}) do |f| %>
<table class="tblRegister" id="tblRegister">
<tr>
<th>
<%= label_tag ("First Name:") %> </th>
<td>
<% end %>
